:root{
    --text-color:hsl(0, 100%, 100%);
    --main-color:hsl(0, 0%, 0%);
    --key-color:rgb(56, 56, 56);
    
}
*{
    margin:0;
    padding:0;
}
@font-face{
    font-family:"Poppins";
    src:url(Assets/Fonts/Poppins-Black.ttf);
    font-weight:400;
}
@keyframes down{
    from{
        transform:translate(-10%,-25%);
        rotate:10deg;
        transform:scale(110%);
    }
    to{
        transform:translate(0);
    }
}
@property --angle{
    syntax:"<angle>";
    initial-value:120deg;
    inherits:false;
}
@keyframes spin{
    from{
        --angle:120deg;
    }
    to{
        --angle:360deg;
    }
}
body{
    height:fit-content;
    background:linear-gradient(120deg,white -75%,var(--main-color));
    padding:0rem 0rem;
    box-sizing:border-box;
    display:flex;
    flex-direction:column;
    color:var(--text-color);
}
button{
    cursor:pointer;
    background:transparent;
    border:none;
    font-size:1.3rem;
}
header{
    position:fixed;
    width:100%;
    box-sizing:border-box;
    padding:1.5rem;
    display:flex;
    justify-content:space-between;
    align-items:center;
    background:transparent;
    backdrop-filter:blur(25px);
    z-index:100;
}
header h1{
    color:var(--key-color);
}
header ul{
    display:flex;
    gap:1.5rem;
    list-style:none;
    font-weight:700;
    color:black;
}
header ul li {
    cursor:pointer;
}
header ul li:hover {
   transition:ease-in-out 0.3s;
   color:var(--key-color);
   text-decoration:underline var(--key-color);
}
section{
    height:80vh;
    padding:20px;
    display:flex;
    padding:5.2rem;
}
.Home{
    justify-content:space-between;
    align-items:center;
}
.Home div{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:start;
    gap:0.5rem;
}
.Home div div{
    width:fit-content;
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
    cursor:pointer;
    font-size:2.5rem;
    gap:1.4rem;
}
.Home div div i{
    transition:linear 0.2s;
}
.Home div div i:hover{
    font-size:2.7rem;
    color:var(--key-color);
}
.Home div p{
    font-size:1rem;
}
.Home h1{
    width:19rem;
}
.Home div h1 span{
    color:var(--key-color);
    font-weight:800;
}
.Home img{
    box-shadow:0 0 15px white;
    border:solid rgb(231, 231, 231) 1rem;
    border-radius:50%;
    animation:down 3s 1;
}
.About{
    height:50vh;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    gap:1.5rem;
    text-align: center;
    line-height:1.5rem;
}
.Stack{
    height:40vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    gap:1rem;
}
.Stack div{
    display:flex;
    justify-content:center;
    align-items:center;
    gap:3rem;
}
.Stack div div{
    height:45vh;
    width:35vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    border-radius:15px;
    box-shadow:0 0 5px rgb(131, 131, 131);
    background:rgb(67, 67, 67);
    cursor:pointer;
    transition:transform linear 0.3s;
    position:relative;
    font-family:"Poppins";
}
.Stack div div::before{
    content:"";
    height:100%;
    width:100%;
    border-radius:inherit;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    z-index:-3;
    padding:0.3rem;
    animation:spi 7s infinite;
    filter:blur(01px);
}
.Stack div div i{
    font-size:2rem;
}
.html-div::before{
    background:linear-gradient(var(--angle),orangered,transparent,orangered,transparent);
}
.css-div::before{
    background:linear-gradient(var(--angle),rgb(177, 17, 195),transparent,rgb(177, 17, 195),transparent);
}
.js-div::before{
    background:linear-gradient(var(--angle),yellow,transparent,yellow , transparent);
}
.linux-div::before{
    background:linear-gradient(var(--angle),white,transparent,white ,transparent);
}
.html-div{
    color:rgb(255, 153, 116);
}
.css-div{
    color:#f176ff;
}
.js-div{
    color:rgb(255, 255, 112);
}
.linux-div i{
    color:white;
    font-weight:500;
}
.Projects{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    gap:1.5rem;
}
.Projects .container{
    height:100%;
    width:100%;
    border:solid;
    border-radius:15px;
    padding:1.5rem;
    display:flex;
    justify-content:center;
    align-items:center;
    gap:2.5rem;
}
.Projects .container > div{
    height:100%;
    width:40%;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:start;
    border:solid;
    padding:none;
}
.Projects .container .project1 .project1-photo{
    width:100%;
    height:75%;
    background:url(Assets/Screenshot\ 2026-01-01\ at\ 22-42-16\ Password\ Generator.png);
    background-position:center;
}
.Projects .container .project1 .project1-description{
    height:25%;
    width:100%;
    background:linear-gradient(120deg,var(--main-color),black,grey);
    background-repeat:no-repeat;
}